.admin-dashboard {
  padding: 20px;
}

.admin-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2 , minmax(250px, 1fr));
  gap: 20px;
}

.admin-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.admin-card:hover {
  transform: translateY(-4px);
  background: #f0f7ff;
}
